
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация успешно завершена</h2>
@Html.ActionLink("Продолжить покупки","Index","Home",null, new {@class = "btn btn-lg btn-primary"})

