@model BookStore.WEB.ViewModels.AuthorViewModel
@{
    ViewBag.Title = "Добавление автора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Добавление автора</h4>
@using (Html.BeginForm("Create","Author"))
{
    @Html.AntiForgeryToken()
<div class="form-group">
    <label>ФИО</label>
    @Html.EditorFor(m => m.Name, null, new { htmlAttributes = new { @class = "form-control col-sm-4", placeholder = "Например: А.С.Пушкин" } })
    @Html.ValidationMessageFor(m=>m.Name)
</div>
    <input type="submit" value="Подтвердить" class="btn btn-primary"/>
}

