@model PagedList.IPagedList<BookStore.BLL.DTO.BookDTO>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Товары";
}

<div id="updateProducts">
    @Html.Partial("BookSummary")
</div>

<div class="float-right">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = ViewBag.category }))
</div>
@*@model BookStore.WEB.Models.BookViewModel 

    <div id="updateProducts">
            @Html.Partial("BookSummary")
        </div>*@
